src/main/resources/db_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="databaseServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="engines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="engine" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="user"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element type="xs:short" name="port"/>
                    <xs:element type="xs:string" name="host"/>
                    <xs:element type="xs:string" name="instance"/>
                    <xs:element type="xs:string" name="schema"/>
                    <xs:element type="xs:string" name="drivertype"/>
                    <xs:element type="xs:string" name="protocol"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:byte" name="priority" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>